h1{
    font-size: 45px;
    color: cornflowerblue;
}
h2{
    color: cornflowerblue;
}
.highlight{
    color: yellow;
}
.highlight1{
    color: red;
    text-decoration: underline;
}
.in_nghieng{
    font-style: oblique;
}
.mau_nen{
    background-color: #565244;
}
h1{
    font-size: 45px;
    color: cornflowerblue;
}
h2{
    color: cornflowerblue;
}
.highlight{
    color: yellow;
}
.highlight1{
    color: red;
    text-decoration: underline;
}
.in_nghieng{
    font-style: oblique;
}
.mau_nen{
    background-color: #565244;
}